.main_block{background-color: #20B2AA; margin: 5% 15% 0px 15%; height: auto}
.dop_block{background-color: #ADD8E6; margin: 100px 15% 0 15%; height: auto}
.dop2_block{background-color: #87CEFA; margin: 100px 15% 5% 15%; height: auto}
.main_putevod{background-color:#FFF0F5; margin: 5% 5% 3% 5%}
.Otchet{background-color: #A9A9A9; margin: 5% 15% 0px 15%; height: auto}